{{- if .IsTranslated -}}
{{- if (ne .Layout "search") }}
{{- if or .Params.author site.Params.author (.Param "ShowReadingTime") (not .Date.IsZero) }}&nbsp;|&nbsp;{{- end -}}
{{- end -}}
<ul class="i18n_list">
    {{- range .Translations }}
    <li>
        <a href="{{ .Permalink }}">
            {{- if eq .Lang "en" -}}
            English
            {{- else if or (eq .Lang "zh-CN") (eq .Lang "zh-cn") -}}
            中文
            {{- else -}}
            {{- .Language.Label | default (.Lang | title) -}}
            {{- end -}}
        </a>
    </li>
    {{- end }}
</ul>
{{- end -}}
